


/* 内容 S */

.main {
    /* height: 1600px; */
    width: 1280px;
    margin: 0 auto;
}

.main .content {
    margin-top: 20px;
    overflow: hidden;
    height: 400px;
}

.content .menu {
    width: 300px;
    height: 100%;
    background: #FFFFFF;
    
}

.menu .titlebox {
    height: 62px;
    overflow: hidden;
    padding-top: 16px;
    padding-left: 70px;

}

.titlebox img {
    height: 34px;
    width: 30px;
    float: left;
}

.titlebox span {
    color: #4F4F4F;
    font-size: 26px;
    float: left;
    margin-left: 10px;
}

.typebox .typeboxbu{
    right: 447px;
    top: 80px;
    z-index: 100; 
    width:8px;
    height:88px;
    position: absolute;
    background: #FFFFFF;
}
.industrybox .typeboxbu{
    right: 447px;
    top: 80px;
    z-index: 100; 
    width:8px;
    height:88px;
    position: absolute;
    background: #FFFFFF;
}
.usebox .typeboxbu{
    right: 447px;
    top: 134px;
    z-index: 100; 
    width:8px;
    height:88px;
    position: absolute;
    background: #FFFFFF;
}
.typebox {
    height: 88px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 16px;
    position: relative;
    z-index: 100;
    padding-left: 24px;
}
.menu .typebox:hover .typemore,.menu .industrybox:hover .typemore,.menu .usebox:hover .typemore{
    display: block;
}
.menu .typebox:hover,.menu .usebox:hover,.menu .industrybox:hover{
    box-shadow: 0 0 6px #d9d9d9;
}
.typemore{
    display: none;
    width: 450px;
    height: 240px;
    background: #FFFFFF;
    position: absolute;
    left: 300px;
    top: -78px;
    z-index: 99;
    box-shadow: 0 0 6px #d9d9d9;
}
.usebox .typemore{
    top: -134px;
}
.typemore .namebox{
    width: 90%;
    height: 74px;
    margin-left: 25px;
    border-bottom: 1px solid #F5F5F5;
}
.typemore .alinksbox{
    width:400px;
    margin: 0 25px;
}
.typemore a{
    color: #A3A3A3;
    font-size: 18px;
    padding: 8px 8px;
    display: inline-block;
}
.typemore a:hover{
    color: #409AE5;
}
.namebox p{
    font-size: 18px;
    font-weight: 700;
    color: #111111;
    line-height: 74px;
    padding-left: 8px;
}
.typebox .title {
    overflow: hidden;
}

.title img {
    height: 28px;
    width: 28px;
    float: left;
}

.title span {
    color: #111111;
    font-size: 20px;
    float: left;
    margin-left: 10px;
}

.typebox .type {
    height: 18px;
    margin-left: 20px;
    margin-top: 18px;
}

.type a{
    color: #A3A3A3;
    font-size: 18px;
    padding: 0 8px;
}

.type a:hover {
    color: #409AE5;
}

.industrybox {
    height: 88px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 24px;
    position: relative;
}

.industrybox .title {
    overflow: hidden;
}

.industrybox .type {
    height: 18px;
    margin-left: 20px;
    margin-top: 18px;
}

.usebox {
    height: 88px;
    width: 100%;
    padding-left: 24px;
    position: relative;
}

.usebox .title {
    overflow: hidden;
}

.usebox .type {
    height: 18px;
    margin-left: 20px;
    margin-top: 18px;
}

.content .banner {
    margin-left: 20px;
    width: 960px;
    height: 100%;
    overflow: hidden;
    position: relative;

}

.banner img {
    height: 100%;
    width: 100%;
}


/* 热门ppt S */

.hot .hot-head {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    overflow: hidden;
}

.head-title span {
    border-left: 4px solid #34E89F;
    padding-left: 10px;
    font-size: 20px;
}

.hot .hot-more {
    height: 38px;
    width: 80px;
    background: url('../images/more.png') no-repeat #34E89F;
    background-size: 16px;
    background-position: 54px 10px;
    border: 1px solid #34E89F;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
}

.hot .hot-more:hover {
    box-shadow: 0 0 6px #34E89F;
}

.hot .hot-content {
    width: 100%;
    overflow: hidden;
    padding-bottom: 6px;
}

.hot .ppt {
    float: left;
    width: 23%;
    height: 437px;
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    margin: 0 1%;
    margin-top: 20px;
}
.hot .ppt:hover{
    box-shadow: 0 0 6px #bebebe;
}
.ppt .pptimg {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.pptimg img{
    transition: all 0.6s;
}
.pptimg:hover img{
    transform: scale(1.08);
    
}




.pptimg img {
   position: absolute;
   top: 0;
   left: 0;
   width:100%;
   height: 100%;
   z-index: 8;
}
.pptimg a{
    width: 100%;
    height: 100%;
}

.ppt .pptinfo {
    height: 20px;
    width: 100%;
}
.pptinfo a:hover p{
    color: #409AE5;
}
.pptinfo p {
    color: #656565;
    height:22px;
    font-size: 16px;
    line-height: 22px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    margin: 6px 0 0 12px;
}
.recomm {
    margin-top: 10px;
    overflow: hidden;
}

/* 热门ppt E */

/* 内容 E */

.dongtai {
    margin-top: 40px;
    width: 100%;
}
.who{
    width: 100%;
   
}
.who h3{
    text-align: center;
    color: #25282a;
    font-size: 30px;
    padding-top: 40px;
}
.who-swiperbox{
    height: 600px;
}
.slidebox{
    width: 900px;
    height:400px;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.05)
}
.slidebox .Evaluation{
    position: absolute;
    top: -50px;
    left: 390px;
    background: url('../images/Evaluation.png') no-repeat;
    background-size: 100px;
    height: 100px;
    width: 100px;
}
.slidebox .slidertop{
    height: 100px;
    width: 900px;
    overflow: hidden;
}

.slidertop img{
     margin-left: 25px;
    margin-top: 25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    border: 2px solid #34E89F;

}
.slidertop img:hover{
    cursor: pointer;
    border: 2px solid transparent;

}
.slidebox .slidercenter{
    height: 200px;
    width: 900px;
}
.slidercenter p{
    height: 200px;
    line-height: 200px;
    color: #888888;
    font-weight: 400;
}
.slidebox .sliderfooter{
    height: 100px;
    width: 900px;
}
.sliderfooter p{
    color: #333333;
    float: right;
    margin-right: 18px;
    height: 100px;
    line-height: 100px;
}

/* 热门模板分类 S */
.hottemplatebox{
    width: 100%;
    height: 20px;
    margin: 20px 0;
}

.template{
    
    width: 1280px;
    margin: 0 auto;
    
}
.template-title{
    height: 20px;

}
.title-left{
    height: 20px;
    width: 80px;
}
.title-left p{
    text-align: right;
}
.title-right{
    height: 20px;
    width: 1200px;
    overflow: hidden;

}
.title-right .title-ceontent{
    width: 1180px;
}
.title-ceontent a{
    color: #888888;
    padding: 0 4px;
}
.title-ceontent a:hover{
    color: #409AE5;
}
.title-right .title-btn{
    width: 20px;
}
.title-btn img{
    width: 20px;
}
.alinks{
    display: none;
    padding-left: 6px;
}
.alinks a{
    padding: 4px 4px;
   color: #888888;
}
.alinks a:hover{
    color: #409AE5;
}
/* 热门模板分类 E */

/* 备案  */
.footer-copyright{
    width: 100%;
    height: 60px;
    background-color: #25282a;
    text-align: center;
}
.footer-copyright p{
    display: inline-block;
    color: #676b6f;
    padding-top: 20px;
}
.footer-copyright a{
    color: #676b6f;
}
/* 最小宽度 */

@media(min-width:1681px) {
    /* 头部 S */
    .min {
        width: 1680px;
        background: #34E89F;
    }
    .logobox {
        width: 150px;
    }
    .menu {
        width: 810px;
        height: 50px;
    }
    .menu li {
        float: left;
        text-align: center;
        padding: 0 30px;
    }
    .search {
        width: 400px;
        height: 50px;
        padding-right: 46px;
    }
    .userbox {
        width: 280px;
        height: 50px;
        text-align: center;
    }
    /* 头部 E */
    /* 内容 S */
    .main {
        /* height: 1600px; */
        width: 1680px;
        margin: 0 auto;
    }
    .content .banner {
        margin-left: 20px;
        width: 1260px;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }
    /* 内容 E */
    .hottemplate{
        width: 1680px;
        margin: 0 auto;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eff1f4;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.who-swiperbox .swiper-button-prev, .swiper-button-prev{
    color: #999999;
}
.who-swiperbox .swiper-button-next, .swiper-button-next{
    color: #999999;
}
